* {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html, body {
    width: 100%;
    height: 100%;

    background: rgb(49,21,68);
    background: linear-gradient(135deg, rgba(49,21,68,1) 0%, rgba(16,38,75,1) 100%), url(/landing-preview/res/blend.jpg);

    background-blend-mode: exclusion;
}

.csexpo-text {
    position: absolute;
    padding: 0 0.5rem 0 0.5rem;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.csexpo-text>img {
    display: block;
    padding: 0.5rem 0 0.5rem 0;
    width: 42em;
}

.csexpo-text>img:nth-child(5) {
    opacity: 1;
}

.csexpo-text>img:nth-child(4) {
    opacity: 0.8;
}

.csexpo-text>img:nth-child(3) {
    opacity: 0.6;
}

.csexpo-text>img:nth-child(2) {
    opacity: 0.4;
}

.csexpo-text>img:nth-child(1) {
    opacity: 0.2;
}

.chain {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.chain>img {
    display: block;
    width: 512px;
}

.video-container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container>* {
    z-index: 1;
}

.video-container>.fb-video {
    background-color: #c8c8c8;
    background-image: url("/landing-preview/res/video_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.818%;
    aspect-ratio: 16/9;
    width: 50%;

    margin: 48px;
}

.hyperbutton {
    border-radius: 999px;
    padding: 16px 64px 16px 64px;
    background-color: #1778f2;
    color: white;
    text-decoration: none;
}
