@font-face {
    font-family: 'Thedus Wide';
    src: url('/fonts/Thedus-Wide.woff2') format('woff2'),
        url('/fonts/Thedus-Wide.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thedus Condensed';
    src: url('/fonts/Thedus-Condensed.woff2') format('woff2'),
        url('/fonts/Thedus-Condensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

